<footer>
  <div class="container">
    <!--Bắt Đầu Nội Dung Giới Thiệu-->
    <div class="noi-dung about">
      <h2>About us</h2>
      <ul class="social-icon">
        <li><a href="https://www.facebook.com/hqkhanh0405/"><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <!--Kết Thúc Nội Dung Giới Thiệu-->
    <!--Bắt Đầu Nội Dung Đường Dẫn-->
    <div class="noi-dung links">
      <h2>Links</h2>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="https://www.facebook.com/hqkhanh0405/">About us</a></li>
      </ul>
    </div>
    <!--Kết Thúc Nội Dung Đường Dẫn-->
    <!--Bắt Đâu Nội Dung Liên Hệ-->
    <div class="noi-dung contact">
      <h2>Thông Tin Liên Hệ</h2>
      <ul class="info">
        <li>
          <span><i class="fa fa-map-marker"></i></span>
          <span>97 đường Man Thiện<br />
            phường Hiệp Phú, Thành Phố Thủ Đức, Thành Phố Hồ Chí Minh<br />
            Việt Nam</span>
        </li>
        <li>
          <span><i class="fa fa-phone"></i></span>
          <p>
            <a>+84 386 487 193</a>
            <br />
            <a>+84 822 779 381</a>
          </p>
        </li>
        <li>
          <span><i class="fa fa-envelope"></i></span>
          <p>
            <a href="#">huynhquockhanh0907@gmail.com</a>
          </p>
        </li>
      </ul>
    </div>
    <!--Kết Thúc Nội Dung Liên Hệ-->
  </div>
</footer>
