<mat-toolbar color="primary">
  <a class="fa fa-home fa-2x" mat-button routerLink="/home"> USER MANAGER </a>
  <div class="header">
  </div>
  <!-- <a mat-button routerLink="/home">Home</a> -->
  <a *ngIf="!this.loginService.isUserLoggedIn()" mat-button routerLink="/login">Login/Signup</a>
  <button *ngIf="this.loginService.isUserLoggedIn()" mat-button [matMenuTriggerFor]="afterMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button class="fa fa-home fa-lg" *ngIf="this.loginService.isUserLoggedIn()" mat-menu-item routerLink="/home">
      Home</button>
    <button class="fa fa-info-circle fa-lg" *ngIf="this.loginService.isUserLoggedIn()" mat-menu-item
      (click)="selectItem()">
      Info</button>
    <button class="fa fa-key fa-lg" *ngIf="this.loginService.isUserLoggedIn()" mat-menu-item (click)="changePass()">
      Change
      Password</button>
    <button class="fa fa-sign-out fa-lg" *ngIf="this.loginService.isUserLoggedIn()" mat-menu-item (click)="logout()">
      Logout</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
