<form class="detail-box" [formGroup]="formEditUser" (ngSubmit)="update()">
  <div class="lb-header">
    <a>User Detail</a>
  </div>
  <div class="detail">
    <div class="u-form-group">
      <mat-label style="margin-right: 250px;color: grey;">User name </mat-label>
      <input style="color: grey;" type="text" placeholder="Username" readonly value="{{formEditUser.value.username}}" />
    </div>
    <div class="u-form-group">
      <mat-label style="margin-right: 85px; color: grey;">
        <a>First name</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a>Last name</a>
      </mat-label>
      <br>
      <input type="text-name" style="color: grey;" placeholder="Firstname" readonly formControlName="firstname"
        value="{{formEditUser.value.firstname}}" />
      &nbsp;
      <input type="text-name" style="color: grey;" placeholder="Lastname" readonly formControlName="lastname"
        value="{{formEditUser.value.lastname}}" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formEditUser.get('firstname')?.errors && submitted">
        Firstname is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formEditUser.get('lastname')?.errors && submitted">
        Lastname is required</mat-error>
    </div>
    <div class="u-form-group">
      <mat-label style="margin-right: 290px; color: grey;">Email</mat-label>
      <input type="email" style="color: grey;" readonly placeholder="Email" email formControlName="email"
        value="{{formEditUser.value.email}}" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formEditUser.get('email')?.errors?.['required'] && submitted">
        Email is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formEditUser.get('email')?.errors?.['email'] && submitted">
        Email is invalidate</mat-error>
    </div>
    <div class="u-form-group">
      <mat-label style="margin-right: 295px;">Role</mat-label>
      <mat-select placeholder="{{showRole(user.roleName)}}" [(ngModel)]="selectRole"
        [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
        <mat-option style="text-align: center;" *ngFor="let role of optionsRole" [value]="role.value">
          {{role.nameValue}}</mat-option>
      </mat-select>
    </div>
    <br>
    <div class="u-form-group">
      <button type="submit" class="btn btn-success float-left" [disabled]="!formEditUser.valid">Update</button>
      <button type="button" (click)="goBack()" class="btn btn-warning float-right"
        style="background-color: rgb(87, 87, 87);">
        Back
      </button>
    </div>
  </div>
</form>
