<form class="signup-box" [formGroup]="formCreate" (ngSubmit)="signUp()">
  <div class="lb-header">
    <a>Create User</a>
  </div>
  <div class="signup">
    <div class="u-form-group">
      <input type="text" placeholder="Username" formControlName="username" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formCreate.get('username')?.errors?.['required'] && submitted">
        Username is required</mat-error>
    </div>
    <div class="u-form-group">
      <input type="text-name" placeholder="Firstname" formControlName="firstname" />
      &nbsp;
      <input type="text-name" placeholder="Lastname" formControlName="lastname" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formCreate.get('firstname')?.errors && submitted">
        Firstname is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formCreate.get('lastname')?.errors && submitted">
        Lastname is required</mat-error>
    </div>
    <div class="u-form-group">
      <input type="email" placeholder="Email" email formControlName="email" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formCreate.get('email')?.errors?.['required'] && submitted">
        Email is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formCreate.get('email')?.errors?.['email'] && submitted">
        Email is invalidate</mat-error>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password" formControlName="pass" />
      &nbsp;
      <input type="password" placeholder="Confirm Password" formControlName="confPass" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formCreate.get('pass')?.errors?.['required'] && submitted">
        Password is required
      </mat-error>
      <mat-error class="alert-danger" *ngIf="formCreate.get('confPass')?.errors?.['required'] && submitted">
        Confirm Password is required
      </mat-error>
      <mat-error class="alert-danger" *ngIf="!this.checkPasswords() && submitted">
        Password and confirm password do not match
      </mat-error>
    </div>
    <div class="u-form-group">
      <mat-select placeholder="Select Role" [(ngModel)]="selectRole" [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onChange()">
        <mat-option style="text-align: center;" *ngFor="let role of optionsRole" [value]="role.value">
          {{role.nameValue}}</mat-option>
      </mat-select>
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="!selectRole && submitted">
        Role requied</mat-error>
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="error"> {{error}}</mat-error>
    </div>
    <br>
    <div class="u-form-group">
      <button type="submit" class="btn btn-primary float-left" style="background-color: rgb(63, 180, 63);">Add</button>
      <button type="button" (click)="goBack()" class="btn btn-warning float-right"
        style="background-color: rgb(87, 87, 87);">
        Back
      </button>
    </div>
  </div>
</form>
