<form class="signup-box" [formGroup]="formUpdate" (ngSubmit)="update()">
  <div class="lb-header">
    <a>Personal Information</a>
  </div>
  <div class="signup">
    <div class="u-form-group">
      <mat-label style="margin-right: 250px;color: grey;">User name </mat-label>
      <input type="text" style="color: grey;" placeholder="Username" readonly value="{{formUpdate.value.username}}" />
    </div>
    <div class="u-form-group">
      <mat-label style="margin-right: 80px ;">
        <a>First name</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a>Last name</a>
      </mat-label>
      <input type="text-name" placeholder="Firstname" value="{{formUpdate.value.firstname}}"
        formControlName="firstname" />
      &nbsp;
      <input type="text-name" placeholder="Lastname" value="{{formUpdate.value.lastname}}" formControlName="lastname" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formUpdate.get('firstname')?.errors && submitted">
        Firstname is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formUpdate.get('lastname')?.errors && submitted">
        Lastname is required</mat-error>
    </div>
    <div class="u-form-group">
      <mat-label style="margin-right: 290px;">Email</mat-label>
      <input type="email" placeholder="Email" email formControlName="email" value="{{formUpdate.value.email}}" />
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="formUpdate.get('email')?.errors?.['required'] && submitted">
        Email is required</mat-error>
      <mat-error class="alert-danger" *ngIf="formUpdate.get('email')?.errors?.['pattern'] && submitted">
        Email is invalidate</mat-error>
    </div>
    <div class="u-form-group">
      <mat-error class="alert-danger" *ngIf="error"> {{error}}</mat-error>
    </div>
    <div class="u-form-group">
      <button type="submit" class="btn btn-success float-left">Update</button>
      <button type="button" (click)="goBack()" class="btn btn-warning float-right"
        style="background-color: rgb(87, 87, 87); color: rgb(255, 255, 255); border-color: black;">
        Back
      </button>
    </div>
  </div>
</form>
