<form class="signup-box" [formGroup]="formSignUp" (ngSubmit)="signUp()">
  <div class="lb-header">
    <a href="/login" id="login-box-link">Login</a>
    <a href="/signup" class="active" id="signup-box-link">Sign Up</a>
  </div>
  <div class="signup">
    <div class="u-form-group">
      <input type="text" placeholder="Username" formControlName="username" />
    </div>
    <div class="u-form-group">
      <div class="error" *ngIf="formSignUp.get('username')?.errors?.['required'] && submitted">
        Username is required</div>
    </div>
    <div class="u-form-group">
      <input type="text-name" placeholder="Firstname" formControlName="firstname" />
      &nbsp;
      <input type="text-name" placeholder="Lastname" formControlName="lastname" />
    </div>
    <div class="u-form-group">
      <div class="error" *ngIf="formSignUp.get('firstname')?.errors && submitted">
        Firstname is required</div>
      <div class="error" *ngIf="formSignUp.get('lastname')?.errors && submitted">
        Lastname is required</div>
    </div>
    <div class="u-form-group">
      <input type="email" placeholder="Email" email formControlName="email" />
    </div>
    <div class="u-form-group">
      <div class="error" *ngIf="formSignUp.get('email')?.errors?.['required'] && submitted">
        Email is required</div>
      <div class="error" *ngIf="formSignUp.get('email')?.errors?.['email'] && submitted">
        Email is invalidate</div>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password" formControlName="pass" />
      &nbsp;
      <input type="password" placeholder="Confirm Password" formControlName="confPass" />
    </div>
    <div class="u-form-group">
      <div class="error" *ngIf="formSignUp.get('pass')?.errors?.['required'] && submitted">
        Password is required
      </div>
      <div class="error" *ngIf="formSignUp.get('confPass')?.errors?.['required'] && submitted">
        Confirm Password is required
      </div>
      <div class="error" *ngIf="!this.checkPasswords() && submitted">
        Password and confirm password do not match
      </div>
    </div>
    <div class="u-form-group">
      <span class="error" *ngIf="error"> {{error}}</span>
    </div>
    <div class="u-form-group">
      <button type="submit"  class="btn btn-primary float-left">Sign
        Up</button>
      <button type="button" (click)="onReset()" class="btn btn-warning float-right" style="background-color: sienna;">
        Reset
      </button>
    </div>
  </div>
</form>
